<div class="row ">
<div class= "center col s12 m4 l10">
<h1 class="header teal-text text-lighten-2">tu mensaje ha sido enviado, esperamos poder ayudarte. </h1>
<p>Tu mensaje es valioso para nosotros </p>