<div class="row ">
<div class= "center col s12 m4 l10">
<h1 class="header teal-text text-lighten-2">ยก Buscamos los mejores tutores !</h1>

</div>
<div class= " s12 m4 l2">
<img src='<%= asset_path 'utem1.png' %>' class="thumb"  alt="peluqueria"  width="125" height="125"/>

</div>
<div class="parallax"><%= image_tag("a93.jpg", :alt => "rss feed") %></div>
</div>

<div class=" row">
<div class= "center col s12 m4 l10">
<h5 class="header green-text text-darken-1">Ingresa tus datos para ponernos en contacto contigo.</h5>
</div>
</div>





<%= render 'form' %>


